*{
  color: black;
  background-color: #e7e7e7; 
  font-family: "Roboto", sans-serif;
}

body{
  margin: 10% 20%;
}

.name {
  text-align: center;
  border-style: solid; 
}

h2 {
  text-transform: uppercase;
}

.bold{
  font-weight: bolder;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 330px;
  width: 400px;
}


